* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100%;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 100;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header.transparent {
    background-color: transparent;
}

#header.solid {
    background-color: rgb(0, 0, 0);
}

#nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: auto;
    text-decoration: none;
    font-size: 24px;
    color: white;
    font-weight: bold;
}

#nav-links ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
}

#nav-links ul li {
    margin-left: 20px;
}

#nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#nav-links a:hover {
    border-bottom: 2px solid white;
}

#nav-links a.active {
    border-bottom: 2px solid #ff0000;
    /* Sottolinea il link attivo */
}

.container-head {
    background: url('background.jpg') no-repeat center/cover;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.head-text {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
}

.head-text h1 {
    font-size: 48px;
    font-weight: bold;
}

.head-text h2 {
    font-size: 32px;
}

.highlight {
    color: #ff6347;
}

.portfolio {
    padding: 50px 0;
    text-align: center;
}

.portfolio h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0 20px;
    height: 100%;
}

/* Stile di base per la classe container */
.container {
    flex: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    outline: 2px dashed rgba(255, 255, 255, 0.4);
    transition: transform 0.3s cubic-bezier(.68, -0.55, .27, 1.55), background-color 0.3s ease, filter 0.3s ease;
    width: calc(25% - 20px);
    padding-top: calc(25% - 20px);
    overflow: hidden;
}

.container:hover {
    transform: scale(1.05);
    outline-color: rgba(255, 255, 255, 0.7);
}

/* Classe c1 che aggiunge un'immagine di sfondo */
.c1 {
    background-image: url('./CARTELLA\ IMMAGINI/firefox2.png');
    /* Immagine di default */
    background-size: cover;
    background-position: center;
    filter: brightness(0.7);
    /* L'immagine è più scura di default */
}

.c2,
.c3 {
    background-image: url('./wip.webp');
    /* Immagine di default */
    background-size: cover;
    background-position: center 20%;

    filter: brightness(0.7);
    /* L'immagine è più scura di default */
}

/* L'effetto hover per la classe c1: l'immagine diventa più visibile */
.c1:hover,
.c2:hover,
.c3:hover {
    filter: brightness(1);
    /* Rende l'immagine più visibile al passaggio del mouse */
}

/* Centrare il contenuto della container */
.container-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
}

a {
    text-decoration: none;
    color: white;
}

.body {
    padding: 50px 20px;
    text-align: center;
}

.curriculum {
    margin-top: 40px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
}

.curriculum h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 40px;
}

.section.comp{
    padding-left: 20px;
}

.section h3 {
    font-size: 22px;
    color: #ff0000;
    margin-bottom: 10px;
}

.job,
.edu {
    margin-bottom: 20px;
}

.job h4,
.edu h4 {
    font-size: 18px;
    color: #fff;
}

p {
    color: #bbb;
    font-size: 16px;
}

/* devo indentare di poco l'elemento .edu p */
.edu p {
    margin-left: 20px;
}

.skills,
.languages {
    list-style-type: none;
    padding: 0;
}

.skills li,
.languages li {
    font-size: 16px;
    color: #bbb;
    margin-bottom: 10px;
}

#footer {
    position: relative;
    background-color: #111;
    color: white;
    padding: 40px 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-social {
    display: flex;
    gap: 15px;
}

.footer-social a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #ff0000;
}

.footer-bottom {
    margin-top: 30px;
    font-size: 14px;
    border-top: 1px solid #444;
    padding-top: 20px;
    color: #bbb;
}

/* Media query per schermi più piccoli */
@media (max-width: 1024px) {
    .container {
        flex: 1 1 calc(50% - 40px);
        width: calc(50% - 20px);
        padding-top: calc(50% - 20px);
    }
}

/* Media query per la navigazione su schermi più piccoli */
@media (max-width: 600px) {
    #header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    #nav-links {
        flex-direction: column;
        height: 20px;
    }

    #nav-links ul {
        display: flex;
        columns: 2;
        position: absolute;
        align-self: flex-end;
        flex-direction: row;
        justify-content: flex-end;
    }

    #nav-links ul li {
        margin-left: 0px;
        margin-bottom: 10px;
        justify-items: center;
        margin-right: 10px;
    }

    .logo {
        margin-bottom: 20px;
    }

    .container {
        width: calc(100% - 20px);
        padding-top: calc(100% - 20px);
    }
}